fastapi==0.95.0
uvicorn
SQLAlchemy
asyncpg
pydantic
python-dotenv
alembic
fastapi-jwt-auth
pydantic[email]

# Paquetes de pruebas
pytest  # Para ejecutar los tests
pytest-asyncio  # Soporte para pruebas asíncronas
httpx  # Cliente HTTP asíncrono para pruebas de rutas
pytest-mock  # Utilidad para realizar mocks en pytest